* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 900px;
}

header {
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;  
}

.overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, #1ccf3dbf 10%, #8483cb88 100%);
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

h3,
p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

button:hover {
    cursor: pointer;
}

.weather {
  height: 42px;
  width: 43px;
  border-radius: 40px;
}

.weatherContainer{
  display: flex;
  flex-direction: column;
  width: 15%;
}

.weatherBox {
  display: flex;
  justify-content: space-between;
  padding: 0%;
}

.weatherContainer p {
    height: 2%;
    font-size: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.buttonContainer{
    padding: 100px;
}

.btn {
    margin-top: 15px;
    margin-bottom: -25px;
}

.form-select{
    margin-bottom: 35px;
}

.footerContainer{
    padding: 55px;
}

